@media screen and (max-width: 1200px) {
    header {
        .header {
            .nav {
                margin-left: 100px;
            }
        }
    }
}

@media screen and (max-width: 992px) {

    header {
        .header {
            .nav {
                margin-left: 50px;
                &_item {
                    margin-left: 20px;
                    &:last-child{
                        margin-left: 25px;
                    }
                }
            }
        }
    }
    main {
        .feature-container {
            .feature {
                &_list {
                    grid-template-areas: "f1 f2" "f3 f4" ;
                }
            }
        }
        .product-container {
            .product {
                &_nav {
                    &_list {
                        overflow-x: scroll;
                        justify-content: flex-start;
                    }
                }
                &_cart {
                    width: 50%;
                }
            }
        }
        .about-container {
            .about {
                &_content {
                    margin-bottom: 16px;
                }
            }
        }
    }
    .footer {
        &_mid {
            flex-direction: column;
            margin-top: 32px;
            & > div {
                margin: 12px 0;
            }
        }
        &_bottom {
            margin-top: 16px;
        }
        &_line {
            margin-top: 32px;
        }
    }
}

@media screen and (max-width: 768px) {
    header {
        .header {
            #check-nav-mobile {
                &:checked ~ .overlay {
                    display: block;
                }
                &:checked ~ .nav {
                    // transform: translateX(0);
                    right: 0;
                    animation: showNavMobile ease 0.3s;
                }
            }
            .nav {
                width: 280px;
                max-width: 280px;
                position: fixed;
                top: 0;
                right: -300px;
                background-color: #fff;
                bottom: 0;
                transition: .3s;
                &_list {
                    flex-direction: column;
                    padding-top: 50px;
                }
                &_item {
                    margin-left: 0;
                    margin: 12px 0;
                }
                &_icon-close {
                    display: block;
                }
            }
            .nav-bars {
                display: flex;
                position: absolute;
                top: 21px;
                right: 36px;
            }
        }
    }
    main {
        .swiper {
            &-slide {
                &-content {
                    top: calc(((316/800) * 100%) - 10%);
                    left: 0;
                }
            }
            &-button-next,
            &-button-prev {
                display: none;
            }
        }
        .about-container {
            .about {
                &_content {
                    width: 100%;
                }
            }
        }
        
    }

    .footer {
        &-top {
            padding: 24px 0;
        }
        &-center {
            flex-direction: column;
            padding: 24px 0;
            & > div {
                margin: 12px 0;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    header {
        .header {
            position: relative;
            .nav-bars {
                right: 0;
            }
        }
    }
    main {
        // .swiper {
        //     &-slide {
        //         &-content {
                    // top: calc(((316/800) * 100%) - 20%);
        //         }
        //     }
        // }
        .feature-container {
            margin-top: 32px;
            .feature {
                height: 1200px;
                &_list {
                    grid-template-areas: "f1" "f2" "f3" "f4" ;
                }
            }
        }
        .product-container {
            margin-top: 32px;
            .product {
                &_cart {
                    width: 100%;
                }
            }
        }
        .about-container{
            margin-top: 32px;
        }
    }
    .footer {
        &-top {
            padding: 24px 0;
        }
        .form-group {
            &-btn {
                // flex: 1;
                background-color: $color-1;
                    color: $while;
            }
        }
    }
}
