@media screen and (max-width: 992px) {
    header {
        .header {
            .nav {
                &_item {
                    margin-left: 20px;
                }
            }
        }
    }
    main {
        .product-container {
            .product {
                &_nav {
                    &_list {
                        overflow-x: scroll;
                        justify-content: flex-start;
                    }
                }
                &_cart {
                    width: 50%;
                }
            }
        }
    }
    .footer {
        &_mid {
            flex-direction: column;
            margin-top: 32px;
            & > div {
                margin: 12px 0;
            }
        }
        &_bottom {
            margin-top: 16px;
        }
        &_line {
            margin-top: 32px;
        }
    }
}

@media screen and (max-width: 768px) {
    header {
        .header {
            #check-nav-mobile {
                &:checked ~ .overlay {
                    display: block;
                }
                &:checked ~ .nav {
                    // transform: translateX(0);
                    right: 0;
                    animation: showNavMobile ease 0.3s;
                }
            }
            .nav {
                width: 280px;
                max-width: 280px;
                position: fixed;
                top: 0;
                right: -300px;
                background-color: #fff;
                bottom: 0;
                animation: hiddenNavMobile ease 0.3s;
                &_list {
                    flex-direction: column;
                    padding-top: 50px;
                }
                &_item {
                    margin-left: 0;
                    margin: 12px 0;
                }
                &_icon-close {
                    display: block;
                }
            }
            .nav-bars {
                display: flex;
                position: absolute;
                top: 21px;
                right: 36px;
            }
        }
    }

    .footer {
        &-top {
            padding: 24px 0;
        }
        &-center {
            flex-direction: column;
            padding: 24px 0;
            & > div {
                margin: 12px 0;
            }
        }
    }
    @keyframes showNavMobile {
        from {
            right: -300px;
        }
        to {
            right: 0;
        }
    }
    @keyframes hiddenNavMobile {
        from {
            right: 0;
        }
        to {
            right: -300px;;
        }
    }
}

@media screen and (max-width: 480px) {
    header {
        .header {
            position: relative;
            .nav-bars {
                right: 0;
            }
        }
    }
    main {
        .product-container {
            .product {
                
                &_cart {
                    width: 100%;
                }
            }
        }
    }
    .footer {
        &-top {
            padding: 24px 0;
        }
    }
}
